@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(30, 30, 30);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 25px;
  background-color: whitesmoke;
}

.logo {
}

.logo h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  color: rgb(30, 30, 30);
  letter-spacing: 1px;
}

.main {
  padding: 25px;
  width: 100%;
  background-color: white;
}

.intro {
  display: grid;
}

.intro img {
  width: 100%;
}

.intro h2 {
  font-weight: 200;
  line-height: 1.5;
  text-align: center;
  margin: 25px 50px 25px 50px;
}

/* Collapse */

.collapsible {
  display: flex;
  width: 100%;
  cursor: pointer;
  background-color: whitesmoke;
  border: 2px solid rgb(102, 51, 153, 0.25);
  border-radius: 5px;
  margin: 15px 0 15px 0;
}

.collapsible h2 {
  margin: 0 0 0 10px;
  align-self: center;
  font-size: 14px;
  font-weight: 300;
  color: rgb(30, 30, 30);
}

.collapsible img {
  width: 30px;
  margin: 0;
}

.active,
.collapsible:hover {
  background-color: rgb(102, 51, 153, 0.15);
  border: 2px solid rgba(74, 7, 141, 0.35);
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  border: 1px dashed rgba(74, 7, 141, 0.35);
  border-radius: 5px;
  background-color: whitesmoke;
}

.content a {
  font-size: 16px;
  color: rgb(30, 30, 30, 0.9);
  font-weight: 300;
}

.content p {
  font-size: 14px;
  margin: 5px 0 15px 0;
  color: rgb(30, 30, 30, 0.75);
  font-weight: 200;
}

.content img {
  width: 18px;
  vertical-align: bottom;
}

/* 
@media (min-width: 720px) {
  .task-3-1.container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
  }

  .task-3-1 .header {
    grid-column: 1 / span 12;
  }

  .task-3-1 .main {
    grid-column: 3 / span 10;
    grid-row: 2 / 4;
  }

  .task-3-1 .sidebar {
    grid-column: 1 / span 2;
    grid-row: 2 / 4;
  }

  .task-3-1 .ads {
    grid-column: 1 / span 2;
  }

  .task-3-1 .footer {
    grid-column: 3 / span 10;
  }
}

@media (min-width: 1020px) {
  .task-3-1 .main {
    grid-column: 3 / span 8;
  }

  .task-3-1 .sidebar {
    grid-row: 2 / 4;
  }

  .task-3-1 .ads {
    grid-column: 11 / span 2;
    grid-row: 2 / 4;
  }

  .task-3-1 .footer {
    grid-column: 1 / span 12;
  }
} */
