@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  color: rgb(129, 105, 216);
  background-color: whitesmoke;
}

.container {
  /* display: grid; */
  /* height: 100vh; */
  /* grid-template-rows: auto 1fr auto; */
}

.main {
  display: grid;
  padding: 25px;
  width: 100%;
  justify-content: left;
}

/* Collapse */

.collapsible {
  display: flex;
  width: 100%;
  padding: 0 275px 0 10px;
}

.collapsible h2 {
  font-size: 14px;
  align-self: center;
  margin: 0 0 0 10px;
  justify-content: left;
}

.collapsible img {
  width: 30px;
  margin: 0;
}

/* .collapsible {
  display: flex;
  margin: 15px 0 15px 0;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  border: 2px solid rgb(135, 255, 111);
  border-radius: 1rem;
  background-color: transparent;
}

.collapsible h2 {
  margin: 0 15px 0 15px;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  align-self: center;
}

.collapsible img {
  margin: 0;
  padding: 0;
  width: 30px;
} */
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active,
.collapsible:hover {
  background-color: transparent;
} */

/* Style the collapsible content. Note: hidden by default */
/* .content {
  margin: 0 0 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
} */

/* 
@media (min-width: 720px) {
  .task-3-1.container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
  }

  .task-3-1 .header {
    grid-column: 1 / span 12;
  }

  .task-3-1 .main {
    grid-column: 3 / span 10;
    grid-row: 2 / 4;
  }

  .task-3-1 .sidebar {
    grid-column: 1 / span 2;
    grid-row: 2 / 4;
  }

  .task-3-1 .ads {
    grid-column: 1 / span 2;
  }

  .task-3-1 .footer {
    grid-column: 3 / span 10;
  }
}

@media (min-width: 1020px) {
  .task-3-1 .main {
    grid-column: 3 / span 8;
  }

  .task-3-1 .sidebar {
    grid-row: 2 / 4;
  }

  .task-3-1 .ads {
    grid-column: 11 / span 2;
    grid-row: 2 / 4;
  }

  .task-3-1 .footer {
    grid-column: 1 / span 12;
  }
} */
