@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

/* Global Style */

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: rgb(45, 45, 45);
  background-color: whitesmoke;
  margin: 0;
  line-height: 2;
}

h1 {
  font-size: 32px;
  font-weight: lighter;
  letter-spacing: 5px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-weight: 400;
}

ul {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.containerZero {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  padding: 15px 15px 15px 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
}

.caseZero {
  padding: 30px 30px 30px 30px;
  text-align: justify;
}

.caseZero p {
  margin: 0;
}

.caseOne {
  /* display: grid; */
  padding: 30px 30px 30px 30px;
  gap: 15px;
}

.containerOne {
}

.pergunta {
  display: grid;
  padding: 15px;
  text-align: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 0.5rem;
  margin: 0 0 25px 0;
  box-shadow: 3px 3px 3px rgb(30, 30, 30, 0.25);
}

.buttonsPergunta {
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.btnBack,
.btnNext {
  border-radius: 3px;
}

.outputPergunta {
  padding: 15px;
  text-align: justify;
}

.exemplo {
  display: grid;
  padding: 15px;
  text-align: center;
  border-style: dashed;
  border-width: 2px;
  border-radius: 0.5rem;
  margin: 0 0 25px 0;
}

.outputExemplo {
  padding: 15px;
  text-align: justify;
}

.resposta {
}

.suaResposta {
  width: 100%;
  height: 100px;
  padding: 15px;
  font-family: inherit;
  border-width: 2px;
  border-radius: 0.5rem;
  border-style: groove;
}

textarea:focus {
  outline: none;
}

.buttonsResposta {
  display: flex;
  padding: 15px 0 15px 0;
  justify-content: space-between;
}

footer {
  display: flex;
  padding: 2px;
  width: 100%;
  bottom: 0;
  justify-content: center;
  align-items: center; /* ver se muda algo no 720 */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

footer a {
  font-size: 12px;
  color: rgb(45, 45, 45);
}

/* @media (min-width: 720px) {
  .task-3-1.container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr auto;
  }

  .task-3-1 .header {
    grid-column: 1 / span 12;
  }

  .task-3-1 .navigation {
    grid-column: 1 / span 12;
  }

  .task-3-1 .main {
    grid-column: 1 / span 12;
  }

  .task-3-1 .footer {
    grid-column: 1 / span 12;
  }
}

@media (min-width: 1020px) {
  .task-3-1 .navigation {
    grid-column: 1 / span 12;
  }

  .task-3-1 .main {
    grid-column: 1 / span 12;
  }
  .task-3-1 .footer {
    grid-column: 1 / span 12;
  }
} */
