@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #333;
  background-color: snow;
  /* margin: 0 auto; */
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  gap: 24px;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* 
@media (min-width: 720px) {
  .task-3-1.container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
  }

  .task-3-1 .header {
    grid-column: 1 / span 12;
  }

  .task-3-1 .main {
    grid-column: 3 / span 10;
    grid-row: 2 / 4;
  }

  .task-3-1 .sidebar {
    grid-column: 1 / span 2;
    grid-row: 2 / 4;
  }

  .task-3-1 .ads {
    grid-column: 1 / span 2;
  }

  .task-3-1 .footer {
    grid-column: 3 / span 10;
  }
}

@media (min-width: 1020px) {
  .task-3-1 .main {
    grid-column: 3 / span 8;
  }

  .task-3-1 .sidebar {
    grid-row: 2 / 4;
  }

  .task-3-1 .ads {
    grid-column: 11 / span 2;
    grid-row: 2 / 4;
  }

  .task-3-1 .footer {
    grid-column: 1 / span 12;
  }
} */
